<app-nav></app-nav>


<div class="wrapper main-wrapper main-box">

  <div>
    <h1>News Card</h1>
    <div class="cardcontainer white-box-news" *ngFor="let a of arr.articles">
      <div class="photo"> <img src="{{a.urlToImage}}">
        <div class="photos">Photos</div>
      </div>
      <div class="content">
        <p class="txt4">{{a.title}}</p>
        <p class="txt2">{{a.description}}</p>
      </div>
      <div class="footer">
        <p><a href="{{a.url}}" class="waves-effect waves-light btn">Read More</a><a id="heart"><span class="like"><i class="fab fa-gratipay"></i>Like</span></a></p>
        <p class="txt3"> <span class="comments"><i class="fas fa-comments"></i>45 Comments</span></p>
      </div>
    </div>
  </div>
</div>
